---
import { getCollection } from "astro:content";
import SectionHeader from "./SectionHeader.astro";
import Section from "./Section.astro";
import HorizontalSeparator from "./HorizontalSeparator.astro";
import BlogCard from "./BlogCard.astro";

//query blog posts
const posts = await getCollection("blog");
const heading = "Blog";
const cta = { text: "View Blog", href: "/blog" };
---

<!-- wrap with Section --><!-- add section header -->
<Section>
  <SectionHeader heading={heading} cta={cta} />
  {posts.map(post => (
    <BlogCard post={post}/>
    <HorizontalSeparator />
    ))}
</Section>
